<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
    <form  method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
        <div class="valid-feedback">Title looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Please enter a short description</div>

      <div class="mb-3">
        Original Listing Image <br>
        <img src="<%= originalImageUrl %>">
      </div>

      <div class="mb-3">
      <label for="image" class="form-label">Upload New Image</label>
      <input
        name="listing[image]"
        type="file"
        class="form-control"
      />
      </div>
      <div class="row">
    <div class="col-md-2 mb-3">
        <label class="form-label">Bedrooms</label>
        <input
            type="number"
            class="form-control"
            name="listing[bedrooms]"
            min="1"
            value="<%= listing.bedrooms %>"
            required>
    </div>

    <div class="col-md-2 mb-3">
        <label class="form-label">Beds</label>
        <input
            type="number"
            class="form-control"
            name="listing[beds]"
            min="1"
            value="<%= listing.beds %>"
            required>
    </div>

    <div class="col-md-3 mb-3">
        <label class="form-label">Bed Type</label>

        <select
            class="form-select"
            name="listing[bedType]"
            required>

            <option
                value="Single Bed"
                <%= listing.bedType === "Single Bed" ? "selected" : "" %>>
                Single Bed
            </option>

            <option
                value="Double Bed"
                <%= listing.bedType === "Double Bed" ? "selected" : "" %>>
                Double Bed
            </option>

        </select>
    </div>

    <div class="col-md-3 mb-3">
        <label class="form-label">Bathrooms</label>
        <input
            type="number"
            class="form-control"
            name="listing[bathrooms]"
            min="1"
            value="<%= listing.bathrooms %>"
            required>
    </div>

</div>

      <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required />
        <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required />
        <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Location should be valid</div>
      </div>

      <div class="mb-4">
    <label class="form-label"><b>Select Category</b></label>

    <div class="category-container">

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Trending" <%= listing.category==="Trending" ? "checked" : "" %>>
            <i class="fa-solid fa-fire"></i>
            <span>Trending</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Rooms" <%= listing.category==="Rooms" ? "checked" : "" %>>
            <i class="fa-solid fa-bed"></i>
            <span>Rooms</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Iconic City" <%= listing.category==="Iconic City" ? "checked" : "" %>>
            <i class="fa-solid fa-city"></i>
            <span>Iconic City</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Mountains" <%= listing.category==="Mountains" ? "checked" : "" %>>
            <i class="fa-solid fa-mountain"></i>
            <span>Mountains</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Castles" <%= listing.category==="Castles" ? "checked" : "" %>>
            <i class="fa-brands fa-fort-awesome"></i>
            <span>Castles</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Amazing Pools" <%= listing.category==="Amazing Pools" ? "checked" : "" %>>
            <i class="fa-solid fa-person-swimming"></i>
            <span>Amazing Pools</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Camping" <%= listing.category==="Camping" ? "checked" : "" %>>
            <i class="fa-solid fa-campground"></i>
            <span>Camping</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Farms" <%= listing.category==="Farms" ? "checked" : "" %>>
            <i class="fa-solid fa-cow"></i>
            <span>Farms</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Arctic" <%= listing.category==="Arctic" ? "checked" : "" %>>
            <i class="fa-regular fa-snowflake"></i>
            <span>Arctic</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Domes" <%= listing.category==="Domes" ? "checked" : "" %>>
            <i class="fa-solid fa-igloo"></i>
            <span>Domes</span>
        </label>

        <label class="category-card">
            <input type="radio" name="listing[category]" value="Boats" <%= listing.category==="Boats" ? "checked" : "" %>>
            <i class="fa-solid fa-ship"></i>
            <span>Boats</span>
        </label>

    </div>
</div>

      <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    </div>
  </div>
  <!--<script src="/js/script.js"></script>-->
</body>
